* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  /* max-width: 1400px; */
  width: 100%;
  height: auto;
  /* display: flex; */
  justify-content: center;
  justify-self: center;
  background-color: #020202;
}

#navbar {
  width: 100%;
  height: 125vh;
  /* margin-bottom: 0px; */
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* background-color: #01080e; */
  background-image: url(background-banner.png);
  /* background-image: url(Airbrush-IMAGE-ENHANCER-1778411227258-1778411227258.png); */
  /* background-position: center; */
  /* margin-top: 50px; */
  padding: 10px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#left-nav {
  background-color: #1560a1;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}

.logo img {
  /* background-color: black; */
  height: auto;
  width: 90px;
  margin: 7px;
}

.logo-name {
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bolder;
  font-size: 15px;
  color: #ffffff;
}

#mid-nav {
  /* background-color: #00ffcc; */
  display: flex;
  height: auto;
  justify-content: space-between;
  /* align-items: center; */
  margin: 7px;
}

#mid-nav a {
  margin: 10px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.9em;
  padding: 10px 5px;
  cursor: pointer;
  /* background-color: yellow; */
}

.bottom-border {
  margin-top: 7px;
  width: 100%;
  height: 2.5px;
  background-color: #0fbc9f;
  box-shadow:
    0 0 10px #00ffcc,
    0 0 20px #00ffcc,
    0 0 20px #00ffcc;
  opacity: 0;
}

#mid-nav a:hover .bottom-border {
  transition: 1s;
  opacity: 1;
}

#right-nav {
  margin: 10px;
}

#right-nav button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #0fbc9f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 0.9em;
  padding: 12px 29px;
  font-weight: bold;
  transition: 0.7s;
  cursor: pointer;
}

#right-nav button:hover {
  background-color: #0fbc9f;
  box-shadow:
    0 0 10px #00ffcc,
    0 0 20px #00ffcc,
    0 0 20px #00ffcc;
  color: #000000;
  transition: 0.7s;
  border: 1px solid black;
}

#right-nav button i {
  margin-left: 7px;
}

#main {
  width: 100%;
  height: auto;
  /* background-color: rgba(255, 255, 0, 0.371); */
  z-index: 100000;
  position: absolute;
  top: 15%;
  padding: 0px 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#main-content {
  width: 100%;
  height: auto;
  /* background-color: rgba(188, 188, 18, 0.371); */

  /* #main-left {
  width: 42vw;
  height: 100%;
  /* background-color: yellow; */
  /* position: absolute; */
  /* display: flex; */

  /* } */

  #main-left {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    min-height: 30vh;
    padding: 30px 60px;
    /* display: flex; */
    /* align-items: center; */
    color: white;
  }

  #content h4 {
    color: #9fa6b2;
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

  #content h1 {
    font-size: 6rem;
    line-height: 0.9;
    font-weight: 900;
    text-transform: uppercase;
  }

  #content h1 span {
    color: #0fbc9f;
  }

  #content h3 {
    margin-top: 25px;
    color: #bfc5cf;
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
  }

  #content p {
    margin-top: 22px;
    width: 70%;
    color: #9fa6b2;
    font-size: 1.23rem;
    line-height: 1.5;
  }

  #buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 18px;
  }

  #primary-btn {
    position: relative;
    overflow: hidden;

    padding: 16px 30px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    background: transparent;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 12px;

    z-index: 1;

    box-shadow:
      0 0 15px rgba(15, 188, 159, 0.4),
      0 0 30px rgba(15, 188, 159, 0.2);
  }

  /* Gradient Background */
  #primary-btn::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(90deg, #07131b 0%, #0a2027 35%, #0fbc9f 100%);

    z-index: -1;

    transition: transform 0.6s ease;
    transform: translateX(0%);
  }

  /* Hover Animation */
  #primary-btn:hover::before {
    transform: translateX(100%);
    background-color: transparent;
  }

  #play-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #2b3a48;
    background: transparent;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }

  #watch-text {
    color: #c9d0d9;
    font-size: 0.9rem;
  }

  #main-right {
    /* background-color: yellow; */
    position: absolute;
    top: 0;
    right: 1%;
    width: 18vw;
    height: 50vh;
    z-index: 100000;
    padding: 20px;
  }

  .timeline-item {
    display: flex;
    align-items: center;
    gap: 22px;
    position: relative;
  }

  .icon-circle {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #14f1d9;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(20, 241, 217, 0.05);

    box-shadow:
      0 0 8px #14f1d9,
      0 0 18px rgba(20, 241, 217, 0.5),
      inset 0 0 12px rgba(20, 241, 217, 0.35);

    position: relative;
  }

  .icon-circle::after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: 1px solid rgba(20, 241, 217, 0.15);
  }

  .icon-circle img {
    width: 34px;
    filter: drop-shadow(0 0 6px #14f1d9) brightness(1.1);
    color: #14f1d9;

    text-shadow:
      0 0 5px #14f1d9,
      0 0 15px #14f1d9;
  }

  .icon-circle i {
    font-size: 5em;
  }

  .icon-circle i {
    font-size: 30px;
    /* color:#14f1d9; */
  }

  .icon-circle i {
    font-size: 30px;
    color: #14f1d9;

    text-shadow:
      0 0 5px #14f1d9,
      0 0 15px #14f1d9;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .content h3 {
    color: #d9d9d9;
    font-size: 1em;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .timeline-line {
    width: 2px;
    height: 55px;

    background: linear-gradient(to bottom,
        rgba(20, 241, 217, 0.7),
        rgba(20, 241, 217, 0.08));

    margin-left: 35px;

    box-shadow: 0 0 10px #14f1d9;
  }

  /* 1st and 3rd image same neon color like VR icon */

  .game img,
  .rocket img {
    filter: brightness(0) saturate(100%) invert(80%) sepia(88%) saturate(1000%) hue-rotate(115deg) drop-shadow(0 0 6px #14f1d9) drop-shadow(0 0 15px #14f1d9);
  }
}


#main-banner {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 27vh;

  margin: auto;
  margin-top: 20px;
  border-radius: 35px;

  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.855),
      rgba(0, 35, 35, 0.886),
      rgba(0, 0, 0, 0.896));

  border: 1px solid rgba(20, 241, 217, 0.08);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  overflow: hidden;

  box-shadow:
    inset 0 0 40px rgba(20, 241, 217, 0.08),
    0 0 20px rgba(0, 0, 0, 0.6);
  position: relative;
}

/* image spaces */
.banner-side {

  width: 180px;
  height: 100%;
  flex-shrink: 0;
}

.left-side img {
  position: absolute;
  /* width: 100%; */
  height: 30vh;
  /* rotate: calc(-95deg); */
  transform: rotate(-18deg);
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side img {
  height: 28vh;
  transform: rotate(18deg);
}

/* center content */
.banner-stats {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 0 20px;
}

/* each stat */
.stat-box {
  text-align: center;
}

.stat-box h1 {
  font-size: 4rem;
  color: #7df5e5;
  font-weight: 700;

  margin-bottom: 10px;

  text-shadow: 0 0 8px rgba(20, 241, 217, 0.6);
}

.stat-box p {
  color: #d7d7d7;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;

  letter-spacing: 1px;
}

/* vertical divider */
.divider {
  width: 2px;
  height: 90px;

  background: linear-gradient(to bottom,
      transparent,
      rgba(255, 255, 255, 0.25),
      transparent);
}

/* main bottom banner done  */



#projects-header {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  /* background-color: yellow; */
  display: flex;
  justify-self: right;
  justify-content: space-around;
  align-items: center;
  padding: 2% 0%;
}

/* TITLE */

#projects-title {
  text-align: center;
}

#projects-title h5 {
  color: #6f8a96;
  line-height: 1em;
  font-size: 1.5em;
  letter-spacing: 2px;
}

#projects-title h1 {
  color: white;

  font-size: 3em;

  letter-spacing: 3px;

  font-weight: 500;

  /* line-height: 70px; */
}

/* BUTTONS */

#slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */

  gap: 18px;
}

/* NAV BUTTON */

.nav-btn {
  /* width: 75px; */
  /* height: 75px; */
  padding: 10px;
  border-radius: 50%;

  border: 2px solid rgba(255, 255, 255, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #6d7f88;

  font-size: 34px;

  cursor: pointer;

  transition: 0.4s;
}

/* ACTIVE BUTTON */

.active-btn {
  border: 2px solid #0FBC9F;

  color: #0FBC9F;

  box-shadow:
    0 0 10px rgba(15, 188, 159, 0.4),
    0 0 30px rgba(15, 188, 159, 0.3);
}

/* HOVER */

.nav-btn:hover {
  transform: translateY(-5px);

  border-color: #0FBC9F;

  color: #0FBC9F;

  box-shadow:
    0 0 12px #0FBC9F,
    0 0 35px rgba(15, 188, 159, 0.5);
}





#cards-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;

  flex-wrap: wrap;
}

/* CARD */

.card {
  width: 28%;
  height: auto;
  margin-top: 20px;
  background: #030b11;

  border-radius: 30px;

  overflow: hidden;

  border: 1px solid rgba(0, 255, 220, 0.15);

  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
}

.card-1 {
  /* width: 100%; */
  height: fit-content;
  /* background-color: yellow; */
}

.card-1 .card-content p {
  font-size: 1.5em;
}

/* NEON BORDER */

.card::before {
  content: "";

  position: absolute;
  inset: 0;

  border-radius: 30px;

  pointer-events: none;

  box-shadow:
    0 0 10px rgba(0, 255, 220, 0.15),
    0 0 25px rgba(0, 255, 220, 0.12),
    0 0 60px rgba(0, 255, 220, 0.08);
}

/* HOVER */

.card:hover {
  transform: translateY(-12px);

  box-shadow:
    0 0 15px #0FBC9F,
    0 0 45px rgba(15, 188, 159, 0.5),
    0 0 90px rgba(15, 188, 159, 0.35);
}

/* IMAGE */

.card-image {
  width: 100%;
  /* height:320px; */

  position: relative;

  overflow: hidden;
}

.card-image img {
  width: 100%;
  /* height:100%; */

  object-fit: cover;

  transition: 0.5s;
}

/* .card:hover .card-image img{
    transform:scale(1.05);
} */

/* TITLE */

/* .game-title{
    position:absolute;

    top:22px;
    left:22px;
} */


/* TAG BUTTON */

.tag-btn {
  position: absolute;
  font-weight: bold;
  left: 22px;
  bottom: 22px;

  padding: 10px 18px;

  border: none;

  border-radius: 12px;

  background-color: transparent;

  backdrop-filter: blur(10px);

  /* color: #000000; */
  color: #ffffff;

  font-size: 14px;

  cursor: pointer;

  transition: 0.4s;
}

.tag-btn:hover {
  background: #0FBC9F;

  color: black;

  box-shadow:
    0 0 12px #0FBC9F,
    0 0 30px #0FBC9F;
}

/* CONTENT */

.card-content {
  padding: 28px 26px;
}

.card-content p {
  color: white;

  font-size: 1.6em;

  line-height: 2vw;

  margin-bottom: 35px;
}

/* BOTTOM */

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ICONS */

.icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icons i {
  color: white;
  font-size: 34px;
  cursor: pointer;
  transition: 0.4s;
}

.icons i:hover {
  color: #0FBC9F;

  transform: translateY(-4px);

  text-shadow:
    0 0 10px #0FBC9F,
    0 0 25px #0FBC9F,
    0 0 50px #0FBC9F;
}

.arrow-btn {
  border-radius: 50%;
  padding: 5px;
  border: 2px solid #0FBC9F;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0FBC9F;
  font-size: 2em;
  cursor: pointer;
  transition: 0.4s;
}

.arrow-btn:hover {
  background: #0FBC9F;

  color: black;

  transform: scale(1.08);

  box-shadow:
    0 0 15px #0FBC9F,
    0 0 40px #0FBC9F,
    0 0 80px #0FBC9F;
}

#roadmap-heading{
  background-color: #020202;
  width: 100%;
  height: auto;
  text-align: center;
}
#roadmap-heading h1{
  margin-top: 3%;
  color: #6f8a96;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}
#roadmap-heading h1 span{
  color: #0FBC9F;
}