* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* header{
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: #01080E;
} */
#navbar {
  width: 100%;
  height: 100vh;
  /* margin-bottom: 0px; */
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  background-color: #01080e;
  background-image: url(background_banner.png);
  /* background-image: url(Airbrush-IMAGE-ENHANCER-1778411227258-1778411227258.png); */
  /* background-position: center; */
  /* margin-top: 50px; */
  padding: 10px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#left-nav {
  background-color: #1560a1;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}

.logo img {
  /* background-color: black; */
  height: 70px;
  width: 90px;
}
.logo-name {
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bolder;
  font-size: 15px;
  color: #ffffff;
}
#mid-nav {
  /* background-color: #00ffcc; */
  display: flex;
  height: fit-content;
  justify-content: space-between;
  /* align-items: center; */
  margin: 10px;
}
#mid-nav a {
  margin: 10px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.9em;
  padding: 10px 5px;
  cursor: pointer;
  /* background-color: yellow; */
}

.bottom-border {
  margin-top: 7px;
  width: 100%;
  height: 2.5px;
  background-color: #0fbc9f;
  box-shadow:
    0 0 10px #00ffcc,
    0 0 20px #00ffcc,
    0 0 20px #00ffcc;
  opacity: 0;
}
#mid-nav a:hover .bottom-border {
  transition: 1s;
  opacity: 1;
}
#right-nav {
  margin: 10px;
}
#right-nav button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #0fbc9f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 0.9em;
  padding: 12px 29px;
  font-weight: bold;
  transition: 0.7s;
  cursor: pointer;
}
#right-nav button:hover {
  background-color: #0fbc9f;
  box-shadow:
    0 0 10px #00ffcc,
    0 0 20px #00ffcc,
    0 0 20px #00ffcc;
  color: #000000;
  transition: 0.7s;
  border: 1px solid black;
}
#right-nav button i {
  margin-left: 7px;
}
#main {
  width: 100%;
  height: 85%;
  /* background-color: rgba(255, 255, 0, 0.371); */
  z-index: 100000;
  position: absolute;
  top: 15%;
  padding: 20px 5%;
}
/* 
#main-right {
  /* width: 42vw; */
/* height: 100%; */
/* background-color: yellow; */
/* position: absolute; */
/* } */

#main-right {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  min-height: 30vh;
  padding: 40px 60px;
  display: flex;
  align-items: center;
  /* background:
    radial-gradient(circle at right,#0fbca02c 0%,transparent 35%),
    #050B16; */
  color: white;
}

#content h4 {
  color: #9fa6b2;
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

#content h1 {
  font-size: 6rem;
  line-height: 0.9;
  font-weight: 900;
  text-transform: uppercase;
}

#content h1 span {
  color: #0fbc9f;
}

#content h3 {
  margin-top: 25px;
  color: #bfc5cf;
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 600;
  text-transform: uppercase;
}

#content p {
  margin-top: 22px;
  width: 70%;
  color: #9fa6b2;
  font-size: 1.23rem;
  line-height: 1.5;
}

#buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 18px;
}
#primary-btn {
  position: relative;
  overflow: hidden;

  padding: 16px 30px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  background: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 12px;

  z-index: 1;

  box-shadow:
    0 0 15px rgba(15, 188, 159, 0.4),
    0 0 30px rgba(15, 188, 159, 0.2);
}

/* Gradient Background */
#primary-btn::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(90deg, #07131b 0%, #0a2027 35%, #0fbc9f 100%);

  z-index: -1;

  transition: transform 0.6s ease;
  transform: translateX(0%);
}

/* Hover Animation */
#primary-btn:hover::before {
  transform: translateX(100%);
  background-color: transparent;
}
#play-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #2b3a48;
  background: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

#watch-text {
  color: #c9d0d9;
  font-size: 0.9rem;
}
